<div class="container">
	<ol class="breadcrumb mt-2">
		<li class="breadcrumb-item active">Mise à jour des candidats</li>
	</ol>
	<div *ngIf="message == 1" class="alert alert-success alert-dismissible fade show text-center" role="alert">
		<strong>Félicitations !</strong> Modification effectuée avec success.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div *ngIf="message == 0" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
		<strong>Erreur !</strong> Reéssayer.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="col-10 offset-1">
		<div class="card">
			<div class="card-header bg-primary text-white">
				Modifier un candidat
			</div>
			<div class="card-body" *ngIf="currentCandidat">
				<form #f="ngForm" (ngSubmit)="onUpdateCandidat()">
					<div class="form-group">
						<div class="row">
							<div class="col">
								Nom :<input type="text" class="form-control" name="nom" ngModel
									[(ngModel)]="currentCandidat.nom">
							</div>
							<div class="col">
								Prénom :<input type="text" class="form-control" name="prenom" ngModel
									[(ngModel)]="currentCandidat.prenom">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								Tél :<input type="text" class="form-control" name="telephone" ngModel
									[(ngModel)]="currentCandidat.telephone">
							</div>
							<div class="col">
								Ville :<input type="text" class="form-control" name="ville" ngModel
									[(ngModel)]="currentCandidat.ville">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								Age :<input type="number" class="form-control" name="age" ngModel
									[(ngModel)]="currentCandidat.age">
							</div>
							<div class="col">
								Disponibilite :<input type="text" class="form-control" name="disponibilite" ngModel
									[(ngModel)]="currentCandidat.disponibilite">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								Expérience :<input type="text" class="form-control" name="experience" ngModel
									[(ngModel)]="currentCandidat.experience">
							</div>
							<div class="col">
								Salaire <input type="text" class="form-control" name="salaire" ngModel
									[(ngModel)]="currentCandidat.salaire">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								Résumé :<input type="text" class="form-control" name="resume" ngModel
									[(ngModel)]="currentCandidat.resume">
							</div>
							<div class="col">
								Cvtheque :<input type="text" class="form-control" name="cvtheque" ngModel
									[(ngModel)]="currentCandidat.cvtheque">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<label>Compétence :</label>
								<select *ngIf="competence" class="form-control" name="competences"
									[(ngModel)]="competence">
									<option *ngFor="let c of competences" [ngValue]="c">
										{{ c.libelle }}
									</option>
								</select>
							</div>
							<div class="col">
								<label>Métier :</label>
								<select *ngIf="metier" class="form-control" name="metiers" [(ngModel)]="metier">
									<option *ngFor="let m of metiers" [ngValue]="m">
										{{ m.it }}
									</option>
								</select>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-success">Sauvegarder</button>
				</form>
			</div>
		</div>
	</div>
</div>
